<component name="ArtifactManager">
  <artifact type="war" name="spring_springmvc_hibernate:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="ssh-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring_springmvc_hibernate:war exploded" />
    </root>
  </artifact>
</component>